/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
*.iml
.idea
.DS_Store
resources/public/js/out
resources/public/js/advanced
resources/public/js/main.js
resources/public/js/main.js.map
figwheel_server.log